body {
    background-color: #f1cd39;
    font-size: 100%;
}

.row {
    min-height: 50px;
}

.h3 {
    font-size: 2rem;
}

.h4 {
    font-size: 1.6rem;
}

.h5 {
    font-size: 1.6rem;
}

#js-cups-img {
    position: fixed;
    margin-top: 25px;
    bottom: 5%;
    right: 0%;
    z-index: -1;
}

.choice:not(:hover) {
    margin-left: 1px;
}

.classHide {
    visibility: hidden;
}