body {
    background-color: #f1cd39;
    font-size: 100%;
}

.row {
    min-height: 50px;
}

.h3 {
    font-size: 2rem;
}

.h4 {
    font-size: 1.6rem;
}

.h5 {
    font-size: 1.6rem;
}

#js-cups-img {
    position: sticky;
    margin-top: 25px;
    bottom: 5%;
    left: 100%;
    z-index: -1;
}